/*
Colors Scheme:
Main bg: #1e1e2f
Navbar: #313145
Text: #f4f4f5
Footer: #b0b0c3
Headers: #FF5500
*/
/*Universal reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navbar */
#navbar {
  background-color: #313145;
  padding: 10px 20px;
}
#navbar ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#navbar ul.menu > li {
  position: relative;
  margin-right: 20px;
}
#navbar a {
  color: #f4f4f5;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #313145;
  list-style: none;
  min-width: 200px;
  z-index: 1000;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu a {
  padding: 10px;
  color: #f4f4f5;
}

/* Side Dropdown */
.dropdown-side:hover .side-menu {
  display: block;
}
.side-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #313145;
  min-width: 200px;
  list-style: none;
  z-index: 1001;
}
.side-menu li a {
  padding: 10px;
  color: #f4f4f5;
}

body{
  background-color: #1e1e2f;
  color: #f4f4f5;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
  text-align: left;
}

footer{
  color: #b0b0c3;
  font-size: .75rem;
  border-top: 2px solid black;
  padding-top: 20px;
  margin-top: 20px;
}

iframe{
  width: 100%;
  max-width: 800px;
  height: 400px;
  display: block;
}

#name{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #FF5500;
}

#name-description{
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

#quote-home{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  background-color: #313145;
  border: 2px solid black;
  margin-bottom: 20px;
}

#home-description{
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
}
